$color-ok: #2dc150;
$color-error: #BE1133;
$color-info: #2A80FF;
$color-caution: #EF8000;
$color-nft-ok: darken($color-ok, 5%);

.wwise-perspective {
	perspective: 1000px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.wwise-wrapper {
	position: fixed;
	width: 0;
	height: 0;
	font-weight: 400;

	&.v-center {
		top: 50%;
	}

	&.h-center {
		left: 50%;
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	&.top {
		top: 0;
	}

	&.bottom {
		bottom: 0;
	}
}

.wwise {
	*.preset {
		color: #fafafa;

		&.ok {
			background: rgba($color-ok, .95);
		}

		&.error {
			background: rgba($color-error, .95);
		}

		&.info {
			background: rgba($color-info, .95);
		}

		&.caution {
			background: rgba($color-caution, .95);
		}
	}
}

.wwise-no-scroll {
	position: relative;
	overflow: hidden;
}