$color-ok: #25DD76;
$color-error: #EE3163;
$color-info: #1E90FF;
$color-caution: #FF9000;
$color-nft-ok: darken($color-ok, 5%);

.wwise-perspective {
	perspective: 1000px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.wwise-wrapper {
	position: fixed;
	width: 0;
	height: 0;

	&.v-center {
		top: 50%;
	}

	&.h-center {
		left: 50%;
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	&.top {
		top: 0;
	}

	&.bottom {
		bottom: 0;
	}
}