.wwise {
	.nft {
		border-radius: 4px;
		height: 60px;
		display: flex;
		background: rgba(255,255,255,.95);
		cursor: default;

		&.preset {
			> .close {
				border-color: rgba(#eee, .6);

				&:hover {
					border-color: rgba(#fafafa, .8);
				}

				.icon {
					fill: rgba(#eee,.6);
				}

				&:hover {
					.icon {
						fill: #fafafa;
					}
				}
			}
		}

		.content {
			padding: 0;
			margin: 0;
			flex-grow: 1;
			display: flex;

			&.text {
				padding-left: 20px;
			}

			.state {
				position: relative;
				width: 60px;
				flex-shrink: 0;

				.icon {
					position: absolute;
					left: 50%;
					top: 50%;
					width: 24px;
					height: 24px;
					fill: #fafafa;
					transform: translate(-50%, -50%);
				}
			}

			.inner-content {
				flex-grow: 1;
				padding: 20px 20px 20px 0;
				white-space: nowrap;
			}
		}

		> .close {
			flex-shrink: 0;
			width: 45px;
			height: 100%;
			border-left: 1px solid #ccc;
			border-radius: 0 4px 4px 0;
			position: relative;
			transition: all ease .2s;

			.icon {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 10px;
				height: 10px;
				fill: rgba(180,180,180,.8);
				transform: translate(-50%, -50%);
				transition: all ease .2s;
			}

			&:hover {
				border-color: #bbb;
				cursor: pointer;

				.icon {
					fill: #aaa;
				}
			}
		}
	}
}