.wwise {
	.topbar {
		flex-grow: 0;
		width: 100%;
		border-radius: 4px 4px 0 0;
		background: rgba($color-info, .95);

		.control {
			float: right;
			height: 40px;
			padding: 10px 10px 0 0;

			> * {
				display: inline-block;
				margin: 0 3px;
			}

			.icon {
				width: 13px;
				height: 13px;
				margin: 0 3px;
				fill: rgba(#ccc, .8);
				transition: fill ease .2s;

				&:hover {
					cursor: pointer;
					fill: #eee;
				}
			}
		}

		.title {
			padding: 10px 60px 10px 15px;
			font-size: 15px;
			user-select: none;
			cursor: default;
			font-weight: bold;
			color: #fff;
		}
	}

	&.no-radius .topbar { 
		border-radius: 0; 
	}
}