.wwise {
	position: absolute;
	left: 0;
	top: 0;
	// margin-left: -250px;
	// margin-top: -250px;
	// transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	border-radius: 5px;
	// background: white;
	border: 1px solid #c5c5c5;
	box-shadow: 1px 1px 10px rgba(150,150,150,.5);
	box-sizing: border-box;

	&.no-border {
		border: none;
		border-radius: 0;

		.topbar,
		.content {
			border-radius: 0 !important;
		}
	}

	* {
		box-sizing: border-box;
	}

	.clear {
		clear: both;
	}
}