.wwise.default {
	.topbar {
		background: rgba(233,233,233,.9);
		background: linear-gradient(to top, rgba(230,230,230,.9), rgba(250,250,250,.9));

		.title {
			color: #333;
		}
	}

	> .content {
		background: white;
		color: #333;
	}
}